*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: arial, sans-serif;
  background: #333333;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.appContainer {
  margin: 0 auto;
  max-width: 414px;
  min-height: 100vh;
  background: #ffffff;
}

/***********************************************
GRID
/***********************************************/
.container {
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  margin-right: -5px;
  margin-left: -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
}

/************************************************
UTILITY CLASSES
/************************************************/
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
};

/************************************************
NAVIGATION
/************************************************/
.navigation {
  padding: 10px 10px;
  background: #999999;

  .account {
    padding: 0 0 10px;
    .clearfix;
  }

  .username {
    float: left;
    margin-left: 4px;
  }

  .logoutButton {
    float: right;
    margin: 0 3px;
  }

  .logoutButtonLink {
    display: block;
    padding: 3px 10px;
    font-size: 0.8rem;
    border-radius: 3px;
    text-decoration: none;
    background: #eeeeee;
    border: 2px solid transparent;
    cursor: pointer;
    &:focus {
      outline: none;
      border: 2px solid #38c9f7;
    }
    &:visited,
    &:active {
      color: #000;
    }
  }

  .navButtons {
    text-align: center;
  }

  .navButton {
    display: inline-block;
    padding: 10px;
    margin: 0 3px;
    font-size: 0.8rem;
    border-radius: 3px;
    background: #eeeeee;
    border: 2px solid transparent;
    cursor: pointer;
    &:focus {
      outline: none;
      border: 2px solid #38c9f7;
    }
  }
}

/************************************************
ADD ITEM PAGE
/************************************************/
.addItem {
  display: none; // removes FOUC
  padding: 10px 0;

  .form {
    padding: 15px;
    min-height: 87vh;
    background: #eee;
  }

  .headline {
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
  }

  .formInputs {
    padding-bottom: 15px;
    .clearfix;
  }

  .formGroup {
    padding-bottom: 9px;
  }

  .targetAmountGroup,
  .currentAmountGroup,
  .unitNameGroup,
  .stepValGroup,
  .storeNameGroup {
    width: ~"calc(50% - 8px)";
    float: left;
  }

  .targetAmountGroup,
  .stepValGroup {
    margin-right: 16px;
  }

  .label {
    display: block;
    padding-bottom: 9px;
    font-size: 1.1rem;
  }

  .textInput {
    display: block;
    width: 100%;
    padding-left: 8px;
    font-size: 1.2rem;
    border: 1px solid #aaa;
    border-radius: 3px;
    height: 30px;
  }

  .button {
    display: block;
    background: #aaa;
    border: none;
    min-width: 200px;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 3px;
  }

  .textInput,
  .button {
    &:focus {
      outline: none;
      border: 2px solid #38c9f7;
    }
  }

}

/************************************************
INVENTORY PAGE
/************************************************/
.inventory {

  .headlineWrap {
    margin: 10px 0;
    background: #eeeeee;
  }

  .headline {
    text-align: center;
    margin: 0;
    padding: 15px 0;
  }

  .col-card {
    width: 50%;
  }

  .card {
    position: relative;
    height: 173px;
    padding: 38px 0px 0px;
    margin-bottom: 10px;
    background: #eee;
  }

  .edit {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    font-size: .8rem;
  }

  .remove {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.4rem;
  }

  .itemName {
    text-align: center;
    padding: 0 0 7px;
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .image {
    display: block;
    padding: 7px 0;
    margin: 0 auto;
    height: 91px;
    width: 77px;
  }

  .amountContainer {
    padding: 0 10px;
    font-size: 1.1rem;
  }

  .amountChanger {
    position: relative;
    text-align: center;
    padding: 0 0 6px;
  }

  .amountArrows {
    position: relative;
    padding: 11px 15px 0;
    .clearfix;
  }

  .decrementor,
  .incrementor {
    position: relative;
    bottom: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding-top: 4px;
    font-size: 2rem;
    text-align: center;
    border-radius: 23px;
    color: #ffffff;
    background: #AAAAAA;
    border: 1px solid #666666;
  }

  .decrementor {
    text-indent: -4px;
    float: left;
  }

  .incrementor {
    text-indent: 4px;
    float: right;
  }
}

.lists {
  display: none; // removes FOUC
  padding: 10px 0;

  .listsContainer {
    min-height: 87vh;
    padding: 15px;
    margin-bottom: 10px;
    background: #eee;
  }

  .headline {
    padding-bottom: 10px;
    margin: 0;
    text-align: center;
  }

  .location {
    margin: 0;
    padding-bottom: 10px;
  }

  .listItem {
    border-bottom: 1px solid #bbb;
    margin-bottom: 9px;
    padding-bottom: 9px;
    .clearfix;
  }

  .itemName {
    float: left;
    padding-right: 10px;
  }

  .removeItem {
    float: right;
    cursor: pointer;
    .clearfix;
  }

  .amountNeeded {
    float: right;
    padding-right: 10px;
  }

  .cross {
    font-size: 2rem;
    margin-bottom: -11px;
    margin-top: -11px;
    float: right;
  }

  .decrementor,
  .incrementor {
    position: relative;
    top: 3px;
    cursor: pointer;
    width: 17px;
  }

  .amountContainer {
    padding: 0 10px;
  }
}

@media (min-width: 415px) {
  .appContainer {
    width: 320px;
  }
}
