*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: arial, sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/***********************************************
GRID
/***********************************************/
.container {
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  margin-right: -5px;
  margin-left: -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
}

/************************************************
UTILITY CLASSES
/************************************************/
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;  
  }
};

/************************************************
ADD ITEM PAGE
/************************************************/
.addItem {
  padding: 20px 0;

  .form {
    padding: 15px;
    background: #eee;
  }

  .headline {
    text-align: center;
    margin: 0;
    padding-bottom: 15px; 
  }

  .formGroup {
    padding-bottom: 7px;
  }

  .targetAmountGroup,
  .currentAmountGroup,
  .unitNameGroup,
  .stepValGroup {
    width: ~"calc(50% - 8px)";
    float: left;
  }

  .targetAmountGroup,
  .unitNameGroup {
    margin-right: 16px;
  }

  .label {
    display: block;
    padding-bottom: 7px;
  }

  .textInput {
    display: block;
    width: 100%;
    border: 1px solid #aaa;
    height: 30px;
  }

  .button {
    display: block;
    background: #aaa;
    border: none;
    min-width: 200px;
    margin: 15px auto;
    padding: 10px 20px;
  }

  .textInput,
  .button {
    &:focus {
      outline-color: rgba(43, 43, 255, 0.55);
    }
  }

}

/************************************************
INVENTORY PAGE
/************************************************/
.inventory {
  // padding-bottom: 20px;

  .headline {
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
  }

  .col-card {
    width: 50%;
  }

  .card {
    position: relative;
    height: 176px;
    padding: 22px 9px 15px;
    margin-bottom: 10px;
    background: #eee;
  }

  .edit {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    font-size: .8rem;
  }

  .remove {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: .8rem;
  }

  .itemName {
    text-align: center;
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
  }

  .image {
    display: block;
    padding: 7px 0;
    margin: 0 auto;
    width: 77px;
  }

  .amountChanger {
    position: relative;
    text-align: center;
  }

  .decrementor,
  .incrementor {
    // position: relative;
    position: absolute;
    bottom: 0;
    // top: 6px;
    cursor: pointer;
    width: 20px;
  }

  .decrementor {
    left: 0;
  }

  .incrementor {
    right: 0;
  }

  .amountContainer {
    padding: 0 10px;
    font-size: 1rem;
  }
}

.lists {
  .listsContainer {
    background: #eee;
    padding: 15px;
    margin-bottom: 20px;
  }

  .headline {
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
  }

  .location {
    margin: 0;
    padding-bottom: 10px;
  }

  .listItem {
    padding-bottom: 7px;
    border-bottom: 1px solid #bbb;
    margin-bottom: 7px;
    .clearfix;
  }

  .itemName {
    // display: inline-block;
    float: left;
    padding-right: 10px;
  }

  .amountNeeded {
    float: right;
    padding-right: 10px;
  }

  .checkmark {
    width: 17px;
    float: right;
  }

  .decrementor,
  .incrementor {
    position: relative;
    top: 3px;
    cursor: pointer;
    width: 17px;
  }

  .amountContainer {
    padding: 0 10px;
  }
}