<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pantry Watch</title>
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="css/main.css">
	<meta name="viewport" content="width=device-width">
</head>
<body class="introPage">
  <header class="header">
    <h1 class="headerContent">Pantry Watch</h1>
  </header>
  <div class="hero">
      <div class="hero_overlay">
      <p class="hero_paragraph">Track your favorite grocery food items, set target levels, and automatically generate partitioned grocery <span class="noWrap">lists by store.</span></p>
    </div>
  </div>
  <div class="container">
    <div class="section">
      <div class="mainContent">
        <h2 class="heading">Getting Started</h2>

        <p class="paragraph">Create an account and begin adding your favorite food items, specifying your target amount, the amount to increment by and the store location <span class="noWrap">for that item.</span></p>

        <p class="paragraph">Under "Current Inventory" check your current levels and decrement each item as <span class="noWrap">you use it.</span></p>

        <p class="paragraph">Under "Show Lists" view your grocery lists for items below <span class="noWrap">target levels.</span></p>
      </div>

      <div class="buttonWrap">
        <button class="button button_getStarted">
          <a class="link button_link" href="/login" target="_blank">
            Get Started
          </a>
        </button>
        <button class="button button_viewSource">
            <a class="link button_link" href="https://github.com/msolorio/grocery-inventory-app" target="_blank">
              View Source
            </a>
        </button>
      </div>
    </div>
  </div>
  <footer class="footer"></footer>
</body>
</html>
