<!doctype html>
<html>
<head>
    <title>Login Page</title>
    <!-- load bootstrap css -->
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
    <!-- load fontawesome -->
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="">
    <meta name="viewport" content="width=device-width">
</head>
<body>
  <div class="appContainer">
      <div class="container">
        <div class="loginContainer">
          <div class="login">

          <h1 class="headline">Login</h1>

          <!-- show any messages that come back with authentication -->
          <% if (message.length > 0) { %>
              <div class="alert"><%= message %></div>
          <% } %>

          <!-- LOGIN FORM -->
          <form action="/login" method="post" class="form">
            <div class="formInputs">
              <div class="formGroup">
                <label class="label">Username</label>
                <input
                type="text"
                class="textInput"
                name="username"
                autocomplete="">
              </div>
              <div class="formGroup">
                <label class="label">Password</label>
                <input
                type="password"
                class="textInput"
                name="password"
                autocomplete="">
              </div>
            </div>

            <button type="submit" class="button">Login</button>
          </form>

          <hr>

          <p>Need an account? <a class="link" href="/signup">Signup</a></p>
          <p>Or go <a class="link" href="/">home</a></p>

      </div>
    </div>
  </div>

</div>
</body>
</html>
