<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Grocery Inventory App</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="shortcut icon" href="">
</head>
<body>

<div class="appContainer">
  <div class="navigation">

    <div class="account">
      <div class="username"><%= username %>'s groceries</div>
      <div class="logoutButton js-logoutButton">
        <a class="logoutButtonLink"
           href="/logout"
           tabindex="1">Logout</a>
      </div>
    </div>

    <div class="navButtons">
      <div class="navButton js-navButton navButton-addItem js-navButton-addItem"
           data-view="addItem"
           tabindex="2">Add an Item</div>
      <div class="navButton js-navButton navButton-inventory js-navButton-inventory"
           data-view="inventory"
           tabindex="3">Current Inventory</div>
      <div class="navButton js-navButton navButton-lists js-navButton-lists"
           data-view="lists"
           tabindex="4">Show Lists</div>
    </div>

  </div>

  <div class="addItem js-addItem">
    <div class="container">
      <form action="" class="form" data-parsley-validate>
        <h2 class="headline">Add Item</h2>

        <div class="formInputs">
          <div class="formGroup">
            <label class="label" for="itemName">Item Name</label>
            <input
              class="textInput js-itemName"
              type="text"
              id="itemName"
              maxlength="15"
              tabindex="5">
          </div>

          <div class="formGroup targetAmountGroup">
            <label class="label" for="targetAmount">Target Amount</label>
            <input
              class="textInput js-targetAmount"
              id="targetAmount"
              type="number"
              tabindex="6">
          </div>

          <div class="formGroup unitNameGroup">
            <label class="label" for="unitName">Unit Name (plural)</label>
            <input
              class="textInput js-unitName"
              type="text"
              id="unitName"
              maxlength="10"
              tabindex="7">
          </div>

          <div class="formGroup stepValGroup">
            <label class="label" for="stepVal">Step Value</label>
            <input
              class="textInput js-stepVal"
              id="stepVal"
              type="number"
              tabindex="8">
          </div>

          <div class="formGroup storeNameGroup">
            <label class="label" for="location">Location</label>
            <input
              class="textInput js-location"
              type="text"
              id="location"
              tabindex="9">
          </div>
        </div>

        <button class="button js-addItemButton" tabindex="10">Submit</button>
      </form>
    </div>
  </div>

  <div class="inventory js-inventory">
    <div class="container">
      <div class="headlineWrap">
        <h2 class="headline">Current Inventory</h2>
      </div>
      <div class="items">
        <div class="js-itemsRow row"></div>
      </div>
    </div>
  </div>

  <div class="lists js-lists">
    <div class="container">
      <div class="listsContainer">
        <h2 class="headline">Grocery Lists</h2>
        <div class="listRow js-listsRow row"></div>
      </div>
    </div>
  </div>

</div>


  <script src="js/jquery-3.2.1.js"></script>
  <script src="js/debounce.js"></script>
  <script src="js/inventory.js"></script>
</body>
</html>
